@code {
    [Parameter] public Conesoft.Files.File Current { get; set; } = Conesoft.Files.Directory.Invalid.AsFile;
    [Parameter] public string Path { get; set; } = "";
}
<li>
    @*<a href="@($"/*/{Path}/{Current.Name}")" target="_top">@Current.Name</a>*@
    <img src="/file-icon.svg" />
    <a href="@($"{Path}/{Current.Name}")" target="_top">@Current.Name</a>
    @Current.Info.Length.Bytes().Humanize()
    <aside horizontal>
        <a href="*/@($"{Path}/{Current.Name}")" download="">▼</a>
    </aside>
</li>