@using FlacLibSharp;

@code {
    [Parameter] public Conesoft.Files.File Current { get; set; } = Conesoft.Files.Directory.Invalid.AsFile;
    [Parameter] public string Path { get; set; } = "";
}

@try
{
    using (var flac = new FlacFile(Current.Path))
    {
        <li>
            <aside horizontal>
                @if (string.IsNullOrWhiteSpace(flac.VorbisComment.Album.ToString()) == false)
                {
                    @flac.VorbisComment.Album@:: 
                }
                @flac.VorbisComment.Artist - @flac.VorbisComment.Title
            </aside>
            <aside>(@flac.VorbisComment.Date)</aside>
            <p>@($@"{flac.StreamInfo.Duration.Seconds():mm\:ss}")</p>
            <audio controls src="@($"/*/{Path}/{Current.Name}")" />
            <aside horizontal>
                <a href="*/@($"{Path}/{Current.Name}")" download="">▼</a>
            </aside>
        </li>
    }
}
catch (Exception)
{
    <DefaultFileRenderer Current="@Current" Path="@Path" />
}
