@using Conesoft.Website.Files.Components.EntryCategories.Base.Components
@using Conesoft.Website.Files.Components.EntryCategories.Base.Components.ContextMenuEntries
@inherits EntryCategories.Base.ListEntry

<DefaultListEntry IconSource="default">

    <ChildContent>
        <a href="@Path/@Entry.Name">@Entry.Name.Split(" - ").FirstOrDefault()</a>
        <span>from</span>
        <b>@RelativeDateFromName(Entry.Name)</b>
    </ChildContent>

    <MenuList>
        <DownloadMenuEntry Path="@Path" Entry="@Entry" />
        <DeleteMenuEntry Entry="@Entry" />
    </MenuList>

</DefaultListEntry>

@functions {
    public string? RelativeDateFromName(string name) => Safe.Try(() =>
    {
        var datetext = name[^12..^4];
        DateTime.TryParse($"{datetext[0..4]}-{datetext[4..6]}-{datetext[6..8]}", out var date);
        return date.Humanize();
    });
}