@using Conesoft.Website.Files.Components.EntryCategories.Base.Components
@using Conesoft.Website.Files.Components.EntryCategories.Base.Components.ContextMenuEntries
@using Conesoft.Website.Files.Services

@inherits EntryCategories.Base.ListEntry

@inject FileHostingPaths hostingPaths

<DefaultListEntry IconSource="file-icon.svg">

    <ChildContent>
        <a href="@url" target="_blank">@Entry.Name</a>
    </ChildContent>

    <MenuList>
        <RenameMenuEntry Entry="@Entry" />
        <DownloadMenuEntry Path="@Path" Entry="@Entry" />
        <DeleteMenuEntry Entry="@Entry" />
    </MenuList>

</DefaultListEntry>

@code {
    string url = "";

    protected override void OnInitialized()
    {
        if (Entry is File file)
        {
            string[] lines = (file.Now.ReadLines()) ?? [];
            url = string.Join("=", lines.Last().Split("=").Skip(1));
        }
    }
}